<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello, {{ user.username }}!</h1>


    {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                
                    <li><a href="{% url 'view_document' document.id %}">{{ document.docfile.name  }}</a></li>
                    <!-- <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li> -->
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <form action="{% url 'results-view' %}" method="get">
            {{ form.labName }}
            <p><input type="submit" value="Test Lab"/></p>
        </form>
    </body>

    <h2>Create a New Lab</h2>
    <form action="{% url 'create_lab' %}" method="post">
        {% csrf_token %}
        {{ lab_choice_form.labname.label_tag }}
        {{ lab_choice_form.labname }}
        <p><input type="submit" value="Add Lab"/></p>
    </form>
    
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <p><button type="submit">Logout</button></p>
    </form>
    
</body>
</html>