<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some COOL app name</title>
    </head>

    <body>
        <p>
            <a href="{% url 'login' %}">
                <button type="button">Login</button>
            </a>

            <a href="{% url 'register' %}">
                <button type="button">Register</button>
            </a>
        </p>
        
        <form action="{% url 'results-view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.labName }}

            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>

        </html>
